<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DASHBOARD ADMIN</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/vendors/iconly/bold.css">
  <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
  <div id="app">
    <div id="sidebar" class="active">
      <div class="sidebar-wrapper active">
        <div class="sidebar-header">
          <div class="d-flex justify-content-between">
            <div class="logo">
              <a href="index.html"><img src="/img/logo_ASYTECH.png" alt="Logo"></a>
            </div>
            <div class="toggler">
              <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
          </div>
        </div>
        <div class="sidebar-menu">
          <ul class="menu">
            <% menus.forEach(menu=> { %>
              <% if (menu.active) { %>
                <li class="sidebar-item active"><a class='sidebar-link' href="<%= menu.path %>"><span>
                      <%= menu.name %>
                    </span></a></li>
                <% } else { %>
                  <li class="sidebar-item"><a class='sidebar-link' href="<%= menu.path %>"><i
                        class="bi bi-grid-fill"></i><span>
                        <%= menu.name %>
                      </span></a></li>
                  <% } %>
                    <% }); %>
          </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
      </div>
    </div>
    <div id="main">
      <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>
      <div class="page-heading">
        <h3>TICKET SYSTEM STATUS</h3>
        <h4>Bentornato <%= user.username %>
        </h4>
      </div>
      <div class="page-content">
        <section class="row">
          <div class="col-12 col-lg-12">
            <div class="row" style="justify-content: center;">
              <div class="col-6 col-lg-2 col-md-6">
                <div class="card">
                  <div class="card-body px-3 py-4-5">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="stats-icon blue">
                          <i class="iconly-boldProfile"></i>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <h6 class="text-muted font-semibold">CLIENTI </h6>
                        <h6 class="font-extrabold mb-0">
                          <% if (data.reseller==null) { %>
                            0
                            <% }else{ %>

                              <%= data.reseller.length %>

                                <% } %>

                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% if (data==null) { %>
                <div class="col-6 col-lg-2 col-md-6">
                  <div class="card">
                    <div class="card-body px-3 py-4-5">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="stats-icon green">
                            <i class="iconly-boldAdd-User"></i>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <h6 class="text-muted font-semibold">NUOVI CLIENTI</h6>
                          <h6 class="font-extrabold mb-0">



                            <%= data.lastUserInserted %>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                  <div class="col-6 col-lg-2 col-md-6">
                    <div class="card">
                      <div class="card-body px-3 py-4-5">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="stats-icon blue">
                              <i class="iconly-boldProfile"></i>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <h6 class="text-muted font-semibold">WEBSURFER </h6>
                            <h6 class="font-extrabold mb-0">
                              <%= data.totWebsurfer %>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-lg-2 col-md-6">
                    <div class="card">
                      <div class="card-body px-3 py-4-5">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="stats-icon purple">
                              <i class="iconly-boldShow"></i>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <h6 class="text-muted font-semibold">TICKET ATTIVI</h6>
                            <h6 class="font-extrabold mb-0">
                              <%= data.nTicket %>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-lg-2 col-md-6">
                    <div class="card">
                      <div class="card-body px-3 py-4-5">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="stats-icon red">
                              <i class="iconly-boldBookmark"></i>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <h6 class="text-muted font-semibold">TICKET SCADUTI</h6>
                            <h6 class="font-extrabold mb-0">
                              <%= data.nTicketExpired %>
                            </h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <% if(data.reseller==null){ %>
              <% }else{ %>
                <div class="row">
                  <div class="col-12 col-xl-12">
                    <div class="card">
                      <div class="card-header text-align-center">
                        <h4>CLIENTI</h4>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-hover table-lg" id="table1">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>NOME</th>
                                <th>C.F/P.IVA</th>
                                <th>EMAIL</th>
                                <th>FAX</th>
                                <th>INDIRIZZO</th>
                                <th>NOTE</th>
                                <th>TELEFONO</th>
                                <th>WEB</th>
                                <th>PIN</th>
                                <th>DEFAULT BANDWITH</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% data.reseller.forEach(function(reseller) { %>
                                <tr>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.id %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.companyName %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.fiscalCode %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.email %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.fax %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.addessCompany %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.note %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.phone %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.web %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.pin %>
                                    </p>
                                  </td>
                                  <td class="col-auto">
                                    <p class=" mb-0">
                                      <%= reseller.defaultBandwidth %>
                                    </p>
                                  </td>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <% } %>
                  <div class="row">
                    <div class="col-12 col-xl-6">
                      <div class="card">
                        <div class="card-header text-align-center">
                          <h4>ULTIMI WEBSURFER INSERITI(3 GIORNI)</h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-lg">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>NOME</th>
                                  <th>COGNOME</th>
                                  <th>EMAIL</th>

                                </tr>
                              </thead>

                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-xl-6">
                      <div class="card">
                        <div class="card-header">
                          <h4>ULTIMI TICKET CREATI(3 GIORNI)</h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-lg">
                              <thead>
                                <tr>
                                  <th>USER ID</th>
                                  <th>EMMISSIONE</th>
                                  <th>SCADENZA</th>
                                  <th>DURATA(GG)</th>
                                  <th>STATO</th>
                                  <th>LOGIN</th>
                                  <th>PASSWORD</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
  <script>
    const dataTable = new simpleDatatables.DataTable("#table1", {
      searchable: true,
      fixedHeight: true,
      sortable: false,
      paging: false
    });
  </script>
  <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>