<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD ADMIN</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="dashboard"><img src="/img/logo_ASYTECH.png" alt="Logo"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item ">
                            <a href="dashboard" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="customers" class='sidebar-link'>
                                <i class="bi bi-person"></i>
                                <span>Clienti</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="users" class='sidebar-link'>
                                <i class="bi bi-people"></i>
                                <span>Utenti</span>
                            </a>
                        </li>
                        <li class="sidebar-item  active">
                            <a href="tickets" class='sidebar-link'>
                                <i class="bi bi-wifi"></i>
                                <span>Ticket</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="radius" class='sidebar-link'>
                                <i class="bi bi-server"></i>
                                <span>Radius</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>TICKET</h3>
            </div>
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">INSERISCI NUOVO TICKET</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="post" action="ticket/insert">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">WEBSURFER</label>
                                                    <input type="text" class="form-control" id="denominazione"
                                                        name="webSurfer" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">NOTE</label>
                                                    <input type="text" class="form-control" id="denominazione"
                                                        name="note" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">EMAIL</label>
                                                    <input type="text" class="form-control" id="denominazione"
                                                        name="email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">TELEFONO</label>
                                                    <input type="text" class="form-control" id="denominazione"
                                                        name="phone" required>
                                                </div>
                                            </div>
                                          
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="startDate">Data di inizio:</label>
                                                    <input type="text" class="form-control" id="startDate" name="startDate" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="endDate">Data di fine:</label>
                                                    <input type="text" class="form-control" id="endDate" name="endDate" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label>Profilo</label>
                                                    <select class="form-select" name="profile" required>
                                                        <option value="DEFAULT">DEFAULT</option>
                                                        <option value="PROFESSIONAL">PROFESSIONAL</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit"
                                                    class="btn btn-primary me-1 mb-1">Inserisci</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">

                        <div class="page-heading">
                            <section class="section">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-striped" id="table1">
                                            <thead>
                                                <tr>
                                                    <th>SERIALE</th>
                                                    <th>DATA EMISSIONE</th>
                                                    <th>DATA SCADENZA</th>
                                                    <th>DURATA</th>
                                                    <th>LOGIN</th>
                                                    <th>NOTE</th>
                                                    <th>PASSWORD</th>
                                                    <th>ID</th>
                                                    <th>STATO</th>
                                                    <th>PROFILE</th>
                                                    <th>WEBSURFER ID</th>
                                                    <th>ID CLIENTE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% tickets.forEach(function(ticket) { %>
                                                    <tr>
                                                        <td>
                                                            <%= ticket.serialNumber.toString() %>
                                                        </td>
                                                        <td>
                                                            <script>
                                                            var date= ticket.emissionDate;
                                                            console.log(date);            
                                                            </script>
                                                            
                                                        </td>
                                                        <td>
                                                            <%= ticket.expirationDate %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.durationDays %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.login %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.note %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.password %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.id %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.state %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.profile %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.WebsurferId %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.CustomerId %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <link rel="stylesheet" href="/vendors/simple-datatables/style.css">
                        <script src="/vendors/simple-datatables/simple-datatables.js"></script>
                        <script>
                            let table1 = document.querySelector('#table1');
                            let dataTable = new simpleDatatables.DataTable(table1);
                            $(function () {
                                $("#startDate, #endDate").datepicker({
                                    range: true,
                                    dateFormat: "dd-mm-yy",
                                    onSelect: function (dateText, inst, extensionRange) {
                                        if (extensionRange && extensionRange.startDateText && extensionRange.endDateText) {
                                            // Aggiorna il valore dell'input corrispondente con l'intervallo selezionato
                                            $(this).val(extensionRange.startDateText + " - " + extensionRange.endDateText);

                                            // Recupera i valori dei campi di input e li visualizza nella console
                                            var startDate = $("#startDate").val();
                                            var endDate = $("#endDate").val();
                                            console.log("Intervallo selezionato: " + startDate + " - " + endDate);
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/moment.js"></script>

</body>

</html>