<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD ADMIN</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="dashboard"><img src="/img/logo_ASYTECH.png" alt="Logo"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <% menus.forEach(menu=> { %>
                            <% if (menu.active) { %>
                                <li class="sidebar-item active"><a class='sidebar-link' href="<%= menu.path %>"><span>
                                            <%= menu.name %>
                                        </span></a></li>
                                <% } else { %>
                                    <li class="sidebar-item"><a class='sidebar-link' href="<%= menu.path %>"><i
                                                class="bi bi-grid-fill"></i><span>
                                                <%= menu.name %>
                                            </span></a></li>
                                    <% } %>
                                        <% }); %>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>TICKET</h3>
            </div>
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">INSERISCI NUOVO TICKET</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" method="post" action="ticket/insert">
                                        <div class="row">
                                            <input type="hidden" class="form-control" name="resellerID" value=<%=dataCreationTicker.user.ResellerId %>>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">DATA INIZIO </label>
                                                    <input type="date" class="form-control" name="emission" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">DATA FINE </label>
                                                    <input type="date" class="form-control" name="exirration" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">LOGIN</label>
                                                    <input type="text" class="form-control" disabled value=<%=username %>>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">PASSWORD</label>
                                                    <input type="text" class="form-control" disabled value=<%=password %>>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">UTENTE</label>
                                                    <select class="form-select" name="websurfer" >
                                                    <% dataCreationTicker.websurfer.forEach(function(websurfer) { %>
                                                        <option id="customerID" value=<%=websurfer.id %>> <%=
                                                            websurfer.firstname +' ' + websurfer.lastname%>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">CLIENTE</label>
                                                    <select class="form-select" name="client" onchange="getValueOfTheInput(event)">
                                                        <option name="default">Selezione il cliente</option>
                                                    <% dataCreationTicker.customer.forEach(function(customer) { %>
                                                        <option name=<%=customer.pin %> value=<%=customer.id %> > 
                                                            <%= customer.companyName %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">STATE</label>
                                                    <select class="form-select" name="role" required>
                                                        <option value="active">ATTIVO</option>
                                                        <option value="disabled">DISATTIVO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">PIN AZIENDA</label>
                                                    <input type="text" class="form-control" id="pinAgency" name="pinAzienda">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">NOTE</label>
                                                    <input type="text" class="form-control" id="denominazione"
                                                        name="webSurfer" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">SERIALE</label>
                                                    <input type="text" class="form-control" id="denominazione"
                                                        name="webSurfer" required>
                                                </div>
                                            </div>
                                        
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit"
                                                    class="btn btn-primary me-1 mb-1">Inserisci</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">

                        <div class="page-heading">
                            <section class="section">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-striped" id="table1">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>DATA EMISSIONE</th>
                                                    <th>DATA SCADENZA</th>
                                                    <th>DURATA</th>
                                                    <th>LOGIN</th>
                                                    <th>NOTE</th>
                                                    <th>PASSWORD</th>
                                                    <th>SERIALE</th>
                                                    <th>STATO</th>
                                                    <th>PROFILE</th>
                                                    <th>WEBSURFER ID</th>
                                                    <th>CUSTOMER ID</th>
                                                    <th>RESELLER ID</th>
                                                    <th>PIN AZIENDA</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% tickets.forEach(function(ticket) { %>
                                                    <tr>
                                                        <td>
                                                            <%= ticket.id %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.emissionDate %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.expirationDate %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.durationDays %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.login %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.password %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.serialNumber %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.state %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.profile %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.websurferID %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.customerID %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.resellerID %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.pinAzienda %>
                                                        </td>
                                                        <td>
                                                            <%= ticket.note %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <link rel="stylesheet" href="/vendors/simple-datatables/style.css">
                        <script src="/vendors/simple-datatables/simple-datatables.js"></script>
                        <script>
                            function getValueOfTheInput(e){
                                document.getElementById('pinAgency').name.value= e.target.value;
                            };
                            let table1 = document.querySelector('#table1');
                            let dataTable = new simpleDatatables.DataTable(table1);
                        </script>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/moment.js"></script>

</body>

</html>