<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD ADMIN</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="/img/logo_ASYTECH.png" alt="Logo"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <% menus.forEach(menu=> { %>
                            <% if (menu.active) { %>
                                <li class="sidebar-item active"><a class='sidebar-link' href="<%= menu.path %>"><span>
                                            <%= menu.name %>
                                        </span></a></li>
                                <% } else { %>
                                    <li class="sidebar-item"><a class='sidebar-link' href="<%= menu.path %>"><i
                                                class="bi bi-grid-fill"></i><span>
                                                <%= menu.name %>
                                            </span></a></li>
                                    <% } %>
                                        <% }); %>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>UTENTI</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">

                        <div class="page-heading">


                            <section class="section">
                                <div class="card">

                                    <div class="col-md-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">INSERISCI NUOVO UTENTE</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form method="post" action="users/insert"
                                                        class="form form-horizontal">
                                                        <div class="form-body">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label>Nome Utente</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-group has-icon-left">
                                                                        <div class="position-relative">
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Username" name="username"
                                                                                required>
                                                                            <div class="form-control-icon">
                                                                                <i class="bi bi-person"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Password</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-group has-icon-left">
                                                                        <div class="position-relative">
                                                                            <input type="password" class="form-control"
                                                                                placeholder="Password" name="password"
                                                                                required>
                                                                            <div class="form-control-icon">
                                                                                <i class="bi bi-lock"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Ruolo</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <fieldset class="form-group">
                                                                        <select class="form-select" name="role"
                                                                            required>


                                                                            <option value="HOTEL">ADMIN</option>
                                                                            <option value="USER">USER</option>
                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label>Cliente</label>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <fieldset class="form-group">
                                                                        <select class="form-select" name="client"
                                                                            required>
                                                                            <% clients.forEach(function(client) { %>
                                                                                <option value=<%=client.id %>> <%=
                                                                                        client.companyName %>
                                                                                </option>
                                                                                <% }) %>
                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-12 d-flex justify-content-end">
                                                                    <button type="submit"
                                                                        class="btn btn-primary me-1 mb-1">INSERISCI</button>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <table class="table table-striped" id="table1">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NOME</th>
                                                    <th>PASSWORD</th>
                                                    <th>RUOLO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% users.forEach(function(user) { %>
                                                    <tr>
                                                        <td>
                                                            <%= user.id %>
                                                        </td>
                                                        <td>
                                                            <%= user.utente %>
                                                        </td>
                                                        <td>
                                                            <%= user.password %>
                                                        </td>
                                                        <% if(user.role=='ADMIN' ) { %>
                                                            <td>
                                                                <span class="badge bg-success">RESELLER</span>
                                                            </td>
                                                            <%} else if(user.role=='HOTEL' ){%>
                                                                <td>
                                                                    <span class="badge bg-danger">ADMIN</span>
                                                                </td>
                                                                <% } else { %>
                                                                    <td>
                                                                        <span class="badge bg-danger">USER</span>
                                                                    </td>
                                                                    <% } %>
                                                    </tr>
                                                    <% }) %>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </section>
                        </div>

                        <link rel="stylesheet" href="/vendors/simple-datatables/style.css">

                        <script src="/vendors/simple-datatables/simple-datatables.js"></script>
                        <script>
                            // Simple Datatable
                            let table1 = document.querySelector('#table1');
                            let dataTable = new simpleDatatables.DataTable(table1);
                        </script>

                    </div>

                </section>
            </div>

        </div>
    </div>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>